/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
  --clr-blue-600: 244 38% 16%;
  --clr-blue-700: 233 47% 7%;
  --clr-violet-400: 277 64% 61%;
  --clr-neutral-100: 0 0% 100%;
  --clr-neutral-200: 0 0% 100% / 0.75;
  --clr-neutral-300: 0 0% 100% / 0.6;

  --ff-sans: "Inter", sans-serif;
  --ff-sans-2: "Lexend Deca", sans-serif;

  --fs-300: 0.75rem;
  --fs-400: 0.9375rem;
  --fs-800: 1.5rem;
  --fs-900: 1.75rem;

  --fw-400: 400;
  --fw-700: 700;
}

@media (min-width: 65em) {
  :root {
    --fs-900: 2.25rem;
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.67;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  background-color: hsl(var(--clr-blue-700));
  color: hsl(var(--clr-neutral-200));
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1,
h2,
h3 {
  line-height: 1.14;
}

/* ------------------- */
/* Composition         */
/* ------------------- */
.flex {
  display: flex;
  gap: var(--flex-gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--grid-gap, 1rem);
}

/* ------------------- */
/* Utility             */
/* ------------------- */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.bg-blue-600 {
  background-color: hsl(var(--clr-blue-600));
}
.bg-violet-400 {
  background-color: hsl(var(--clr-violet-400));
}

.text-violet-400 {
  color: hsl(var(--clr-violet-400));
}
.text-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}
.text-neutral-200 {
  color: hsl(var(--clr-neutral-200));
}
.text-neutral-300 {
  color: hsl(var(--clr-neutral-300));
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}

.fw-400 {
  font-weight: var(--fw-400);
}
.fw-700 {
  font-weight: var(--fw-700);
}

.text-center {
  text-align: center;
}

.normal-case {
  text-transform: none;
}
.uppercase {
  text-transform: uppercase;
}

/* ------------------- */
/* Block               */
/* ------------------- */
.container {
  place-content: center;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
  min-width: fit-content;
  padding: 1rem 1.5rem;
}

.container > main {
  grid-area: main;
}

.container > footer {
  grid-area: footer;
  align-self: end;
}

main {
  --flex-gap: 0;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 20px 20px -10px hsl(233 28% 13% / 0.2);
  overflow: hidden;
  max-width: 20.4375rem;
  margin-inline: auto;
}

.picture > img {
  mix-blend-mode: multiply;
  opacity: 0.75;
}

.intro {
  --flex-gap: 0;
  flex-direction: column;
  text-align: center;
  padding: 2.5rem 2rem 2rem;
}

.intro > p {
  margin-block: 1rem auto;
}

.intro > ul {
  --flex-gap: 1.5rem;
  flex-direction: column;
  list-style: none;
  margin: 2.5rem 0 0;
  padding: 0;
}

/*
 * Restore the list semantics for unordered list with `list-style` value of `none` for Safari.
 * https://developer.mozilla.org/en-US/docs/Web/CSS/list-style
 */
.intro > ul li::before {
  content: "\200B";
  display: block;
  height: 0;
}

.intro > ul li {
  letter-spacing: 1px;
  line-height: 2.08;
}

.intro > ul li span {
  display: block;
  letter-spacing: normal;
  line-height: 1.21;
}

footer a {
  color: hsl(var(--clr-violet-400));
}

@media (min-width: 65em) {
  main {
    flex-direction: row;
    max-width: 69.375rem;
  }

  .picture {
    order: 2;
    max-width: 540px;
    flex-shrink: 0;
  }

  .picture > img {
    object-fit: cover;
    height: 100%;
  }

  .intro {
    padding: 4.5rem 4.5rem 3.75rem;
    text-align: start;
  }

  .intro > h2 {
    line-height: 1.22;
  }

  .intro > p {
    margin-top: 1.5rem;
    max-width: 40ch;
  }

  .intro > ul {
    --flex-gap: 4rem;
    flex-direction: row;
    margin-top: 4.5rem;
  }
}
